{
        "offline_last_seen_s" : 600,
        "graphite_target" : {
                "server" : "{{collectd.graphite_target.host}}",
                "port" : {{collectd.graphite_target.port}}
        },
        "adv_node_stats" : [
                "000000000000",
                "Ignored unless adv_node_stats_filter is set in yaml",
                "Es werden keine Knoten mehr per Hand aufgenommen. Bitte neuere Firmware ab 4.0.3 verwenden und selbst aktivieren: https://wiki.freifunk-muensterland.de/display/FREIF/Erweiterte+Statistiken+aktivieren"
  ]
}
